html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  margin: 0;
  height: 100%;
}
#app {
  height: 100%;
}
.LessonsApp {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.markdown-body {
  padding: .5em;
}
.markdown-body > :first-child {
  margin-top: 0 !important;
}
.ReactCodeMirror, .CodeMirror {
  height: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
