body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}
#root {
}
.LessonsApp {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}
.markdown-body {
  padding: .5em;
}
.markdown-body > :first-child {
  margin-top: 0 !important;
}
