.LessonCode {
  height: 100%;
  display: flex;
  flex-direction: column
}
.LessonCode .ReactCodeMirror {
  flex: 1;
  overflow: hidden;
}
.LessonCode__tabs {
  position: relative;
  background-color: #f7f7f7;
  text-align: right;
}
.LessonCode__tabs:before {
  z-index: 1;
}
.LessonCode__tabs:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}
.LessonCode__tab {
  display: inline-block;
  padding: .3em 1em;
  cursor: pointer;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #777;
  position: relative;
  z-index: 0;
  margin-right: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.LessonCode__tab:hover {
  color: #444;
  background-color: #fbfbfb;
}
.LessonCode__tab--active {
  cursor: default;
  color: #000 !important;
  background-color: #fff !important;
  border-bottom: 1px solid #fff;
  z-index: 2;
}
.LessonCode__buttons {
  text-align: right;
}
.LessonCode__execute {
  box-sizing: border-box;
  width: 100%;
  padding: .3em .5em;
}
