.LessonText {
  height: 100%;
}
.LessonText .ReactCodeMirror, .LessonText .CodeMirror {
  height: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
.LessonText .markdown-body {
  padding: .5em;
}
.LessonText .markdown-body > :first-child {
  margin-top: 0 !important;
}
.LessonText__next {
  padding: 1em;
  text-align: right;
}
.LessonText__next button {
  font-size: 1.5em;
}
