body {
  font-family: ubuntu, sans-serif;
}
#root {
}
.App {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}
.App__admin {
  border: 2px dotted #000;
  padding: .5em;
  margin-bottom: .5em;
}